html
{
    overflow-y:auto;
    overflow-x: hidden;
}


body
{
    background-color: white;
    color: #00AEEF;
    position: absolute;
    overflow-y:auto;
    overflow-x: hidden;
}

.grid-container
{
    display: grid;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    grid-template-rows: 100px 600px 400px 400px 100px;
    overflow-y:auto;
    overflow-x: hidden;
}


#button
{
    position: absolute;
    top: 80%;
    left: 22%;
    color: #00AEEF;
    border: 10px;
    font-size: 20px;
    font-style: italic;
}




#button:hover
{
    background-color: #00AEEF;
    color: white;
    transition-duration: 0.4s;
}



.navigation-container
{   
    display: grid;
    grid-template-areas: 'header header header header header';
    width: 100%;
    border: 1px solid black;
}

.header-member-text
{   
    width:45%;
    float: left;
    padding: 30px;
    text-align: center;

}

.header-member-text:hover
{   
    background-color: rgb(177, 220, 255);
    color: white;
    transition-duration: 0.4s;
}



a
{
    font-size: 30px;
    text-decoration: none;
    color:#00AEEF;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.home-container
{
    position: relative;
    top: 0px;
    width:100%;
    height:100%;
    display: inline;
    border: 1px solid black;
}

.home-item
{
    float: left;
    height:100%;
    width:44%;
    
    
}

.home-item>p
{
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}


#padure
{
    
    margin: 0px 0px 0px 180px;
    height: 100%;
    width: 100%;
    
}


.team-container
{
    width: 90%;
    margin: 0 auto;
    padding: 50px 100px 50px 200px;
}

.cerc
{
    margin: 10px;
    float: left;
    width:25%;
    height: 85%;
    border: 3px solid black;
    border-radius: 60%;
    align-content: center;
}

.c1:hover
{
    background-color: #00AEEF;
    color: white;
    transition-duration: 0.5s;
}

.c2:hover
{
    background-color:#0000FF;
    color: white;
    transition-duration: 0.5s;
}

.c3:hover
{
    background-color: #FF00FF;
    color: white;
    transition-duration: 0.5s;
}


.cerc>p
{
    position: relative;
    align-content: center;
    top:24%;
    left:47%;
    font-size: 50px;
}


.about-container
{
    width: 90%;
    margin: 0 auto;
    padding-left: 69px;
}

.drept
{
    margin: 7.5px;
    float: left;
    width:22%;
    height: 60%;
    border: 3px solid black;
    border-radius: 20%;
    align-content: center;
}

.drept:hover
{
    background-color: #00AEEF;
    color: white;
    transition-duration: 0.5s;
}

.drept>p
{
    position: relative;
    align-content: center;
    top:20%;
    left:47%;
    font-size: 50px;
}


.contact-container
{
    background-color: rgb(219, 242, 255);
    margin: auto;
    width:100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
